h1{
  font-family: Coolvetica; font-size: 100px
}
.jumbotron {
background-image:url('https://pbs.twimg.com/profile_images/420241225283674113/xoCDeFzV_400x400.jpeg');
padding: 20%;
background-repeat: no-repeat;
background-size: cover;
width: 100%;
margin-top: -40px;
background-attachment: fixed;
background-position:  center -238px;
}
html {font-family: helvetica; background: linear-gradient(to right,red,orange,yellow); text-align: center;
}
  h2 {
    font-family: Coolvetica;
  }
  li{
    text-align: center;
  }
img {
  border: 5px solid black;
  margin-top: 5%;
}
ol {
  display: inline;
}
ul {
  display: inline;
}
